.FormContato{

}

.FormContato > h2{
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.FormContato > form{
    margin-left: 2rem;
}

.FormContato > label, input{
    display: block;
    margin-bottom: 1rem;
    width: 85%;
}

form > button{
    margin-top: 10px;
    margin-bottom: 15px;
    color: #fff;
    border: 0;
    padding: 8px;
    background-color: #6099f6;
}