.TextAndTitle{
    margin-top: 10px;
}

.TextAndTitle > h2{
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.TextAndTitle > p{
    color: rgba(0,0,0,0.54);
    font-size: 21px;
    margin-left: 2rem;
    margin-bottom: 1rem;
}